.advanced-search-options#adv-search-options{hidden: show_advanced_options}
  %h1.title= t(".title")
  = simple_form_for search_form,
    html: { id: "adv-search-options-form" },
    url: results_search_path,
    method: :get do |form|
    = form.simple_fields_for @search.advanced_search_options do |aso_form|
      .advanced-search-options__col
        = aso_form.input :release_year, as: :integer, min: 0
      .advanced-search-options__col
        = aso_form.input :rating,
          as: :integer,
          min: Rating::MIN,
          max: Rating::MAX
